<div class="two-column">
  <div>
    <h1>Блоки пользователей</h1>
  </div>
  <div class="align-r">
    Всего элементов: <b data-bind="text: items().length"></b> / <span data-bind="text: maxLengthTable()"></span>
  </div>
</div>

<div data-bind="foreach: items">
  <div class="user-block b-container">
    <div class="user-block__title" data-bind="text: name"></div>

    <table class="user-block__info">
      <tr>
        <td>Телефон:</td>
        <td class="user-block__info-text" data-bind="text: phone"></td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td class="user-block__info-text" data-bind="text: email"></td>
      </tr>
      <tr>
        <td>Адрес:</td>
        <td class="user-block__info-text" data-bind="text: adress"></td>
      </tr>
      <tr>
        <td>Город:</td>
        <td class="user-block__info-text" data-bind="text: city"></td>
      </tr>
      <tr>
        <td>Карта:</td>
        <td class="user-block__info-text" data-bind="text: card"></td>
      </tr>
    </table>
    <like-widget params="value: rating"></like-widget>

  </div>
</div>
