<div class="two-column">
  <div>
    <h1>Таблица пользователей</h1>
  </div>
  <div class="align-r">
    Всего элементов: <b data-bind="text: items().length"></b> / <input data-bind="value: maxLengthTable" type="text" class="input-number" max-length="2">
  </div>
</div>

<div class="panel-btns align-r">
  <button class="btn-text" data-bind="enable: items().length < maxLengthTable(), click: addItem" title="Добавить юзера">Добавить юзера</button>
  <button class="btn-text" data-bind="click: removeAll" title="Удалить всё">Удалить всех</button>
</div>

<table class="default-table">
  <thead>
    <tr>
      <td>№</td>
      <td>Name</td>
      <td>Phone</td>
      <td></td>
    </tr>
  </thead>
  <tbody data-bind="foreach: items">
    <tr>
      <td data-bind="text: $data.id"></td>
      <td data-bind="text: name"></td>
      <td data-bind="text: phone"></td>
      <td>
        <button class="btn-info" data-bind="click: $parent.openModal"></button>
        <button class="btn-del" data-bind="click: $parent.removeItem"></button>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="clear-table-error" colspan="4" data-bind="visible: items().length < 1">Нет элементов в таблице.</td>
    </tr>
  </tbody>
</table>

<div class="modal-wrap" data-bind="visible: modal.open">
  <div class="modal b-container">
    <div class="two-column">
      <div>
        <h1>Редактирование пользователя</h1>
      </div>
      <div class="align-r">
        <button class="btn-del" data-bind="click: modal.open(false)"></button>
      </div>
    </div>

    <input type="text" class="form-ctrl" data-bind="value: modal.item().name" placeholder="Имя">
    <input type="text" class="form-ctrl" data-bind="value: modal.item().phone" placeholder="Номер телефона">
    <input type="text" class="form-ctrl" data-bind="value: modal.item().email" placeholder="E-mail">
    <input type="text" class="form-ctrl" data-bind="value: modal.item().adress" placeholder="Адресс">
    <input type="text" class="form-ctrl" data-bind="value: modal.item().card" placeholder="Номер кредитки">

    <footer>
      <button class="btn-text" data-bind="click: saveItem">Сохранить</button>
    </footer>
  </div>
</div>
